body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #fff;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}
#content {
  margin-left: 20px;
}
#content h1 {
  font-size: 30px;
}

#content .item {
  margin-bottom: 40px;
  border: 1px solid grey;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content .item-content h1 {
  font-size: 115%;
}

#content .item-content h2 {
  font-size: 110%;
}

#content .item-content h3 {
  font-size: 105%;
}

#content .item-header h1,h2 {
  margin: 0;
  padding: 0;
}

#content .item-header h2 {
  font-weight: normal;
  font-size: 120%;
}

#content .item-header h1 a {
  color: black;
}
