body {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 12px;
  background-color: #fff;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}
#content {
  margin-left: 20px;
}
#content h1 {
  font-size: 30px;
}

#content .item {
  margin-bottom: 40px;
  border: 1px solid #c0c0c0;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content .item-content h1 {
  font-size: 115%;
}

#content .item-content h2 {
  font-size: 110%;
}

#content .item-content h3 {
  font-size: 105%;
}

#content .item-content a.tag {
  color: black;
  text-decoration: none;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  background-color: #e0e0e0;
  padding: 2px;
}

#content .item-content a.tag:hover {
  background-color: #606060;
  color: white;
}

#content .item-header h1,h2 {
  margin: 0;
  padding: 0;
}

#content .item-header h2 {
  font-weight: normal;
  font-size: 120%;
  color: #606060;
}

#content .item-header h2 a {
  color: black;
  font-size: 125%;
  font-weight: bold;
  text-decoration: none;
}

#content .item-header h1 a {
  color: red;
  font-weight: bold;
  text-decoration: none;
  font-size: 97%;
}
#content .item-header h1 .date {
  font-size: 13px;
  float: right;
  color: grey;
  padding-top:13px;
}